.card-container {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}


.card-description {
  height: 300px;
  position: relative;
  display: flex;
  margin-bottom: 16px;
}

.card-description > img {
  width: 50%;
  object-fit: cover;
  height: 100%;
  margin-right: 16px;
}

.card-heart {
  position: absolute;
  top: 16px;
  left: 16px;
  color: pink;
  font-size: 32px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-stars {
  color: gold;
  font-size: 32px;
}

.card-container video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 16px;
}

.card-footer {
  display: flex;
  /* gap: 16px; */
}

.card-footer img {
  height: 200px;
  width: 100px;
  flex-grow: 1;
  margin-right: 16px;
  object-fit: cover;
}

.card-footer img:last-child {
  margin-right: 0px;
}